body
{
    margin:  0
    padding: 0
    font-family: sans-serif;
}
.container
{
    position: relative;
    left: auto;
    width: 1333px;
    height: 610px;
    background-image: url(files/america.png);
    background-size: 1333px 610px;
}
.container .pin
{
    position: absolute;
    left: var(--x-cord);
    top: var(--y-cord);
    width: 16.5px;
    height: 24px;
    background-image: url(files/mappin.png);
    background-size: 16.5px 24px;
}
.container .pin .content
{
    font-size: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}
.container .pin:hover .content
{
    position: relative;
    font-size: 15px;
    left: -70px;
    top: -70px;
    width: 156px;
    height: 156px;
    background: #00AAFF;
}
